button {
  border: 2px solid black;
  background-color: white;
  height: 100px;
  width: 100px;
  margin: 10px;
}

.selectable {
  cursor: pointer;
}

.selectable:hover {
  background-color: #31351d;
}

.selectable:hover span {
  color: white;
}

.selected {
  background-color: #359464;
}

.selected span {
  color: white;
}

.selected:hover {
  background-color: #38d888;
}

.selected:hover span {
  color: white;
}

.letter {
  font-size: 35px;
  display: block;
}

.score {
  font-size: 20px;
  display: block;
}

input {
  height: 50px;
  text-align: center;
  font-size: 35px;
  margin: auto;
  padding: 0px;
  border: 1px solid black;
  margin: auto;
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
}

#input {
  text-align: center;
}

#game {
  text-align: center;
}

#submit-button {
  height: 52px;
  text-align: center;
  font-size: 20px;
  margin: auto;
  border: 2px solid black;
  padding: 0px;
  margin: auto;
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
}

.invalid-word {
  background-color: #973939;
}

.invalid-word span {
  color: white;
}

.valid-word {
  background-color: #359464;
}

.valid-word span {
  color: white;
}

.valid-word:hover {
  background-color: #38d888;
}

.valid-word:hover span {
  color: white;
}
