<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    {% if page.title %}
      <title>{{ page.title }}</title>
    {% else %}
      <title>{{ site.title }}</title>
    {% endif %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/favicon.ico?">
    <meta name="viewport" content="width=device-width">
    <meta name="referrer" content="no-referrer">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
          <h1><a href="/">{{ site.title | default: site.github.repository_name }}</a></h1>
          <h3><a href="/about">About Me</a></h3>
          <h3><a href="/projects">Projects</a></h3>
          <h3><a href="/writings">Writings</a></h3>
          <h3><a href="/notes">Notes</a></h3>
      </header>

      <section>
          {% if page.title %}
          <h1>
              {{ page.title }}
          </h1>
          {% endif %}
          {% if page.date %}
          <small>{{ page.date | date_to_long_string }}</small>
          {% endif %}
          
          {{ content }}

      </section>
	  
	  <footer>
        {% for link in page.intfooter %}
            <div><small><a href="{{ site.baseurl }}/{{ link[0] }}">{{ link[1] }}</a></small></div>
        {% endfor %}
        {% for link in page.extfooter %}
            <div><small><a href="{{ link[0] }}">{{ link[1] }}</a></small></div>
        {% endfor %}
	  </footer>
    </div>
	
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    {% if page.latex %}
        <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {% endif %}

  </body>
</html>
