<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.title | default: site.github.repository_name }}</title>

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" href="{{ site.url }}/assets/favicon.ico?">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
          <h1><a href="/">{{ site.title | default: site.github.repository_name }}</a></h1>
          <h3><a href="/about">About Me</a></h3>
          <h3><a href="/projects">Projects</a></h3>
          <h3><a href="/writings">Writings</a></h3>
      </header>

      <section>
          {% if page.title %}
          <h1>
              {{ page.title }}
          </h1>
          {% endif %}
          {% if page.date %}
          <small>{{ page.date | date_to_long_string }}</small>
          {% endif %}
          
          {{ content }}

      </section>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>

  </body>
</html>
